<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Mess Application</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "Application mess/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static "Application mess/assets/css/fontawesome.css" %}">
  <link rel="stylesheet" href="{% static "Application mess/assets/css/templatemo-grad-school.css" %}">
  <link rel="stylesheet" href="{% static "Application mess/assets/css/owl.css" %}">
  <link rel="stylesheet" href="{% static "Application mess/assets/css/lightbox.css" %}">
</head>


<body>
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Student</em> Module</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="{% url "HostelDesk:student_module" %}" rel="sponsored" class="external">Home</a></li>
        <li class="has-submenu"><a href="#section2">Application Forms</a>
          <ul class="sub-menu2">
            <li><a href="{% url "HostelDesk:application_h" %}" rel="sponsored" class="external">hostel</a></li>
            <li><a href="{% url "HostelDesk:application_m" %}" rel="sponsored" class="external">mess</a></li>
          </ul>
        </li>
        <li class="has-submenu"><a href="#section2">{{name}}</a>
          <ul class="sub-menu3">
            <li><a href="{% url "HostelDesk:student_profile" %}" rel="sponsored" class="external">Edit Profile</a></li>  
            <li><a href="{% url "HostelDesk:change_password" %}" rel="sponsored" class="external">Change Password</a></li>
            <li><a href="{% url "HostelDesk:index" %}" rel="sponsored" class="external">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{% static "Application mess/assets/images/header.mp4" %}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
            <div class="form">
              <div class="title"><em>Mess</em> Allotment Form</div>
              <p></p>
              <p class="error" style="font-size:18px; color:rgb(211, 50, 50)" text-align="center" id="error">
              {{error}}
              </p>
              <form method="POST" class="ahm_form">
                {% csrf_token %}
                <!-- <div class="input-container ic1">
                  <input name="username" id="usernmae" class="input" type="text" placeholder=" " />
                  <div class="cut"></div>
                  <label for="usernmae" class="placeholder">Username</label>
                </div>
                <div class="input-container ic2">
                  <input name="name" id="name" class="input" type="text" placeholder=" " />
                  <div class="cut"></div>
                  <label for="name" class="placeholder">Name</label>
                </div> -->
                <div class="input-container ic3">
                  <select class="input" name="mess">
                    <optgroup>
                      <!-- <option selected>SELECT HOSTEL</option> -->
                      <option value="none" selected disabled hidden style='color: #888'>Select Preferred Mess</option>
                      <option value="Mess A">MESS A</option>
                      <option value="Mess B">MESS B</option>
                      <option value="Mess C">MESS C</option>
                      <option value="Mess D">MESS D</option>
                      <option value="Mess E">MESS E</option>
                      <option value="Mess F">MESS F</option>
                      <option value="Mess G">MESS G</option>
                      <option value="Mess PG 1">MESS PG 1</option>
                      <option value="Mess PG 2">MESS PG 2</option>
                      <option value="MHB 2 F1">MHB 2 F1</option>
                      <option value="MHB 2 F2">MHB 2 F2</option>
                      <option value="LH MESS">LH MESS</option>
                      <option value="MLH MESS">MLH MESS</option>
                    </optgroup>
                  </select>
                </div>
                <!-- <div class="input-container ic2">
                  <input name="password" id="Password" class="input" type="password" placeholder=" " />
                  <div class="cut cut-short"></div>
                  <label for="Password" class="placeholder">Password</label>
                </div> -->
                <button type="submit" class="submit">Submit</button>
              </form> 
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2022 by <em>G3</em></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static "Application mess/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "Application mess/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <script src="{% static "Application mess/assets/js/isotope.min.js" %}"></script>
  <script src="{% static "Application mess/assets/js/owl-carousel.js" %}"></script>
  <script src="{% static "Application mess/assets/js/lightbox.js" %}"></script>
  <script src="{% static "Application mess/assets/js/tabs.js" %}"></script>
  <script src="{% static "Application mess/assets/js/video.js" %}"></script>
  <script src="{% static "Application mess/assets/js/slick-slider.js" %}"></script>
  <script src="{% static "Application mess/assets/js/custom.js" %}"></script>
  <script>
      //according to loftblog tut
      $('.nav li:first').addClass('active');

      var showSection = function showSection(section, isAnimate) {
        var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $('body, html').animate({
            scrollTop: reqSectionPos },
          800);
        } else {
          $('body, html').scrollTop(reqSectionPos);
        }

      };

      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
          }
        });
      };

      $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
        if($(e.target).hasClass('external')) {
          return;
        }
        e.preventDefault();
        $('#menu').removeClass('active');
        showSection($(this).attr('href'), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
  </script>
</body>
</html>