<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Student Module</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static "Confirmation page/fonts/material-icon/css/material-design-iconic-font.min.css" %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static "Confirmation page/css/style.css" %}">
</head>
<body>

    <div class="main">

        <!-- <h1>Sign up</h1> -->
        <div class="container">
            <div class="sign-up-content">
                <h2 class="form-title"><em>UPDATE </em>DETAILS</h2>
                <p class="loginhere">
                    Updated details successfully.<br/> <a href="{% url "HostelDesk:student_module" %}" class="loginhere-link"> Home</a>
                </p>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static "Confirmation page/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "Confirmation page/js/main.js" %}"></script>
</body>
</html>